@import '../../iconfont.css'; /* pages/login/login.wxss */
.login {
    height: 100vh;
}
.formItem{border-bottom: #888888 solid 1px;text-align: left;}
.formItem input{font-size: 30rpx;height: 80rpx ;}
.login .box1 {
    height: 100%;
    border-top: 1rpx solid rgba(242, 242, 242, 1);
    padding: 138rpx 20rpx 0;
    /* display: flex;
  justify-content: center;
  align-items: center; */
}
.box1 .boxContainer .logo {
    display: block;
    width: 180rpx;
    margin: 0 auto;
}
.box1 .boxContainer .title {
    font-size: 26rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: bold;
    color: #000000;
    margin-top: 60rpx;
	padding-bottom: 10px;
    text-align: left;
}
.box1 .boxContainer .des {
    text-align: center;
    font-size: 32rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: 400;
    color: #888888;
    margin-top: 20rpx;
}
.box1 .boxContainer .container {
    margin-top: 20rpx;
    text-align: center;
    font-size: 26rpx;
    color: #666;
}

.box1 .boxContainer .container .link {
    color: #01c53d;
    margin: 0 4px;
    text-decoration: underline;
}

.box1 .boxContainer .btns {
    margin-top: 88rpx;
}
.box1 .boxContainer .btns .btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90rpx;
    background: #01c53d;
    border-radius: 45rpx;
    font-size: 28rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: 400;
    color: #f7f9fa;
    line-height: 30rpx;
}
.box1 .boxContainer .btns .btn:not(:last-child) {
    margin-bottom: 30rpx;
}
.box1 .boxContainer .btns .btn .iconfont {
    font-size: 32rpx;
    margin-right: 10rpx;
}
.box1 .boxContainer .btns .cancelLogin.btn {
    background-color: transparent;
    background: #f8f8f8;
    border: 1rpx solid #d2d2d2;
    color: rgba(153, 153, 153, 1);
}
.box1 .boxContainer .container .checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40rpx;
}
.box1 .boxContainer .container .checkbox-label .checkbox-box {
    border-radius: 50% !important;
    border: 1rpx solid #666;
    width: 36rpx;
    height: 36rpx;
    margin-right: 8rpx;
    background-color: rgba(153, 153, 153, 0.2);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1 .boxContainer .container .checkbox-label .checkbox-box.true {
    border: 1px solid #01c53d;
}
.box1 .boxContainer .container .checkbox-label .checkbox-box .iconfont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35rpx;
    height: 35rpx;
    border-radius: 50%;
    background: #01c53d;
    color: #fff;
    font-size: 25rpx;
    font-weight: bold;
}
.box1 .boxContainer .container .checkbox-label .checkbox-box .iconfont.false {
    display: none;
}
