@font-face {
    font-family: 'iconfont'; /* Project id 4412950 */
    src: url('http://at.alicdn.com/t/c/font_4412950_mvleydl4xm.woff2?t=1731576651123') format('woff2'),
        url('http://at.alicdn.com/t/c/font_4412950_mvleydl4xm.woff?t=1731576651123') format('woff'),
        url('http://at.alicdn.com/t/c/font_4412950_mvleydl4xm.ttf?t=1731576651123') format('truetype');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-zhiding:before {
    content: '\e611';
}

.icon-dingwei1:before {
    content: '\e62c';
}

.icon-liuyan:before {
    content: '\e6e6';
}

.icon-shanchu2:before {
    content: '\e68e';
}

.icon-weixin:before {
    content: '\e660';
}

.icon-xueli:before {
    content: '\e63c';
}

.icon-liulan:before {
    content: '\e61d';
}

.icon-fenxiang2:before {
    content: '\e79c';
}

.icon-24gf-phoneBubble:before {
    content: '\e966';
}

.icon-yingpinzhiwei:before {
    content: '\e602';
}

.icon-shijian-o:before {
    content: '\e603';
}

.icon-bofang:before {
    content: '\e662';
}

.icon-wuliu:before {
    content: '\e6dc';
}

.icon-quanbudingdan:before {
    content: '\e65b';
}

.icon-31daifahuo:before {
    content: '\e601';
}

.icon-icondaishouhuo:before {
    content: '\e670';
}

.icon-quanbudingdan01:before {
    content: '\e629';
}

.icon-fenxiang:before {
    content: '\e689';
}

.icon-daifahuo:before {
    content: '\e615';
}

.icon-24gf-telephone:before {
    content: '\e96c';
}

.icon-fenxiang1:before {
    content: '\e620';
}

.icon-shijianqingdan:before {
    content: '\e690';
}

.icon-daifukuan-2:before {
    content: '\e62b';
}

.icon-mingxi8-xianxing:before {
    content: '\e80a';
}

.icon-jichu21-xianxing:before {
    content: '\ea65';
}

.icon-biaoqian1-xianxing:before {
    content: '\e686';
}

.icon-bianji2:before {
    content: '\e688';
}

.icon-ditu2-xianxing:before {
    content: '\e698';
}

.icon-dingdan1-xianxing:before {
    content: '\e6a3';
}

.icon-dingdan2-xianxing:before {
    content: '\e6a4';
}

.icon-dingdan3-xianxing:before {
    content: '\e6a5';
}

.icon-fahuochenggong-xianxing:before {
    content: '\e6a8';
}

.icon-jifenshangcheng-mianxing:before {
    content: '\e6db';
}

.icon-qianbao2-xianxing:before {
    content: '\e6e8';
}

.icon-mingxi4-xianxing:before {
    content: '\e6e9';
}

.icon-wode4-xianxing:before {
    content: '\e700';
}

.icon-shezhi-xianxing:before {
    content: '\e60f';
}

.icon-shanchu1:before {
    content: '\ec7b';
}

.icon-shanchu:before {
    content: '\e635';
}

.icon-gouxuan:before {
    content: '\e60d';
}

.icon-dingwei:before {
    content: '\e8c4';
}

.icon-002gouwuche-1:before {
    content: '\e81a';
}

.icon-paixu2:before {
    content: '\e6e7';
}

.icon-jia_sekuai:before {
    content: '\ed21';
}

.icon-jian_sekuai:before {
    content: '\ed22';
}

.icon-31gouwuche:before {
    content: '\e600';
}

.icon-iconfontaccount:before {
    content: '\e604';
}

.icon-right-1-copy:before {
    content: '\e61f';
}

.icon-sousuo:before {
    content: '\e649';
}

.icon-navicon-xtcp:before {
    content: '\e640';
}

.icon-fenlei:before {
    content: '\e610';
}

.icon-shouye:before {
    content: '\e79f';
}

.icon-xia:before {
    content: '\e72e';
}
