.protocol {
    height: 100vh;
}
.protocol .box1 {
    height: 100%;
    padding: 40rpx 0 76rpx;
    border-top: 1rpx solid rgba(242, 242, 242, 1);
}
.protocol .box1 .boxContainer {
    height: 100%;
    overflow: scroll;
    font-size: 28rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: 400;
    color: #333333;
    line-height: 2;
    padding: 0 30rpx;
}
