.personalInformation {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: scroll;
    background-color: #fff;
    padding: 0 0 160rpx;
}
.personalInformationContainer {
    flex: 1;
    width: 100%;
    background-color: RGBA(246, 247, 251, 1);
    padding: 25rpx 20rpx;
}
.personalInformationContainer .content {
    background-color: #fff;
    background: #ffffff;
    border-radius: 20rpx;
    overflow: hidden;
}
.personalInformationContainer .item {
    display: flex;
    justify-content: space-between;
    padding: 20rpx 25rpx;
    min-height: 80rpx;
    align-items: center;
}
.personalInformationContainer .item .text {
    font-size: 26rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: 400;
    color: #000000;
}
.personalInformationContainer .item-r {
    flex: 1;
    margin-left: 40rpx;
    display: flex;
    justify-content: flex-end;
    font-size: 26rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: 500;
    color: #aaaaaa;
}
.personalInformationContainer .item-r .avatar {
    width: 82rpx;
    height: 82rpx;
    background: #f1f1f1;
    border-radius: 50%;
}
.personalInformationContainer .item-r input {
    flex: 1;
    width: 100%;
    text-align: right;
    font-size: 26rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: 500;
    color: #aaaaaa;
}
.personalInformationContainer .item-r .input-placeholder {
    font-size: 26rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: 500;
    color: #aaaaaa;
}
.personalInformationContainer .item-r .label {
    display: inline-flex;
    align-items: center;
    font-size: 26rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: 500;
    color: #333333;
}
.personalInformationContainer .item-r label:not(:last-child) {
    margin-right: 40rpx;
}
.personalInformationContainer .item-r label radio {
    transform: scale(0.8);
    transform-origin: center;
}
.personalInformationContainer .item-r switch {
    transform: scale(0.7);
    transform-origin: right center;
}
.submitContainer {
    position: fixed;
    left: 0;
    bottom: 40px;
    width: 100%;
    height: 160rpx;
    background-color: RGBA(246, 247, 251, 1);
    padding: 0 20rpx;
}

.submitContainer .submit {
    line-height: 80rpx;
    background: linear-gradient(-90deg, #61c50d, #78e41e);
    border-radius: 40rpx;
    text-align: center;
    font-size: 30rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: 500;
    color: #f5f5f5;
}
.submitContainer2 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 160rpx;
    background-color: RGBA(246, 247, 251, 1);
    padding: 0 20rpx;
}

.submitContainer2 .submit {
    line-height: 80rpx;
    background: linear-gradient(-90deg, #61c50d, #78e41e);
    border-radius: 40rpx;
    text-align: center;
    font-size: 30rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: 500;
    color: #f5f5f5;
}
.privacy{ text-align: center;padding: 10px 0;}
.privacy .link{color: blue;}
