@import '../../iconfont.css';
.recruit {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.recruitNav {
    position: relative;
    border-top: 1px solid rgba(242, 242, 242, 1);
    background-color: #fff;
    width: 100%;
}
.recruitNav .addMsg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 45rpx;
    z-index: 2;
    font-size: 24rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: 400;
    color: #000000;
}
.recruitNav .list {
    display: flex;
    justify-content: center;
    padding: 0 44rpx;
    gap: 150rpx;
}
.recruitNav .list .item {
    position: relative;
    font-size: 30rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: 400;
    line-height: 80rpx;
    color: #323232;
}
.recruitNav .list .item.active {
    font-weight: bold;
}
.recruitNav .list .item::before {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0;
    height: 8rpx;
    background: linear-gradient(90deg, #61c50d, #78e41e);
    border-radius: 4rpx;
}
.recruitNav .list .item.active::before {
    width: 100%;
}
.recruit .box1 {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: RGBA(246, 247, 251, 1);
    padding: 22rpx 20rpx 0;
    overflow: scroll;
}
.recruit .box1 .box-c {
    margin-top: 22rpx;
    flex: 1;
    overflow: scroll;
}
.recruit .box1 .box-c .list {
    padding-bottom: 50rpx;
}
.recruit .box1 .box-c .item {
    background: #ffffff;
    border-radius: 20rpx;
    padding: 20rpx 25rpx;
}
.recruit .box1 .box-c .item:not(:last-child) {
    margin-bottom: 20rpx;
}
.recruit .box1 .box-c .item-t {
    display: flex;
}
.recruit .box1 .box-c .item-t .avatar {
    width: 90rpx;
    height: 90rpx;
    background: #f1f1f1;
    border-radius: 8rpx;
    object-fit: cover;
}
.recruit .box1 .box-c .item-t-r {
    flex: 1;
    margin-left: 20rpx;
    padding-top: 3rpx;
}
.recruit .box1 .box-c .item-t-r .title {
    font-size: 30rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: 500;
    color: #000000;
    display: flex;
    justify-content: space-between;
}
.recruit .box1 .box-c .item-t-r .title .salary {
    font-size: 24rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: bold;
    color: #de3b3b;
}
.recruit .box1 .box-c .item-t-r .des {
    font-size: 24rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: 400;
    color: #888888;
    margin-top: 10rpx;
}
.recruit .box1 .box-c .item-c {
    font-size: 26rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: 400;
    color: #000000;
    margin-top: 13rpx;
}
.recruit .box1 .box-c .item-b {
    display: flex;
    justify-content: space-between;
    margin-top: 24rpx;
}
.recruit .box1 .box-c .item-b .btn {
    display: flex;
    font-size: 26rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: 400;
    color: #000000;
    align-items: center;
}
.recruit .box1 .box-c .item-b button.btn {
    background-color: transparent;
    width: auto;
    padding: 0;
    margin: 0;
}
.recruit .box1 .box-c .item-b .btn .iconfont {
    opacity: 0.6;
    font-size: 36rpx;
    margin-right: 5rpx;
}
.recruit .box1 .box-c .item-b .btn .iconfont.icon-fenxiang2 {
    transform: scale(0.8);
}
.recruit .box1 .box-c .item1:not(:last-child) {
    margin-bottom: 20rpx;
}
.recruit .box1 .box-c .item1 {
    background-color: #fff;
    border-radius: 20rpx;
    padding: 20rpx 25rpx;
}
.recruit .box1 .box-c .item1 .item-t {
    display: flex;
    justify-content: space-between;
}
.recruit .box1 .box-c .item1 .item-t .avatar {
    width: 90rpx;
    height: 90rpx;
    background: #f1f1f1;
    border-radius: 8rpx;
}
.recruit .box1 .box-c .item1 .item-t-r {
    flex: 1;
    margin-left: 20rpx;
}
.recruit .box1 .box-c .item1 .item-t-r .title {
    font-size: 30rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: 500;
    color: #000000;
}
.recruit .box1 .box-c .item1 .labels {
    flex: 1;
    display: flex;
    margin-left: 14rpx;
    gap: 8rpx;
}
.recruit .box1 .box-c .item1 .labels .label {
    font-size: 22rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: 400;
    color: #01c53d;
    padding: 6rpx 5rpx;
    border-radius: 4rpx;
    background-color: rgba(1, 197, 61, 0.2);
}
.recruit .box1 .box-c .item1 .tel {
    display: flex;
    align-items: center;
    font-size: 24rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: 400;
    color: #888888;
    margin-top: 8rpx;
}
.recruit .box1 .box-c .item1 .tel .iconfont {
    color: RGBA(1, 197, 61, 1);
    font-size: 32rpx;
    margin-left: 6rpx;
}
.recruit .box1 .box-c .item1 .text {
    font-size: 24rpx;
    font-family: HarmonyOS Sans SC;
    font-weight: 400;
    color: #000000;
    line-height: 1.83;
    margin-top: 17rpx;
}
